<html>
<head>
  <title>#springMessage('label.title')</title>

  <link href="resources/wallstyle.css" rel="stylesheet" type="text/css">
</head>
<body class="wallbody">
<center>
<h1 class="walltitle">#springMessage('label.title')</h1>
</center>
<br>
<div class="wallitem">
<h3><spring:message code="label.title"/></h3>
 
<span style="float: right">
    <a href="?lang=en">english</a>
    |
    <a href="?lang=ca">català</a>
</span>
<form action="" method="post">
  <table border="0" cellpadding="8">
    <tbody>
      <tr>
        <td><b>#springMessage('label.username')</b></td>
 		<td>#springFormInput('registrationForm.reg_username' 'size="40"')</td>
 		<td>#springShowErrors('' 'errorMsg')</td>
 	  </tr>
 	  <tr>
        <td><b>#springMessage('label.password')</b></td>
 		<td>#springFormPasswordInput('registrationForm.reg_password' 'size="40"')</td>
 		<td>#springShowErrors('' 'errorMsg')</td>
      </tr>
      <tr>
    	<td colspan="2" align="center">
    	#springBind('registrationForm.recaptcha_response_field')
    	<script type="text/javascript" src="http://api.recaptcha.net/challenge?k=6Lc_QgUAAAAAAFyWFhYONWN22eeUrgGoF5W7EZ3D"></script>
		</td>
		<td>#springShowErrors('' 'errorMsg')</td>
	  </tr>
      <tr>
        <td colspan="2" align="center"><input name="action" value="#springMessage('label.button')" type="submit"></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</form>
</div>
<center><a href="wall">#springMessage('label.link')</a></center>
</body>
</html>